# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PizzaFall.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ofeka\Desktop\Job Related\Unity Projects\PizzaFall\.idea\.idea.PizzaFall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
